bind "scancode40" "messagemode"
bind "scancode49" "messagemode2"
bind "scancode48" "toggleconsole"
bind "scancode52" "player_ping"

bind mwheelup +lookatweapon
bind mwheeldown +jump
bind space +jump

alias +incvol "volume 1;+sprint";alias -incvol "volume 0.75;-sprint"; bind shift +incvol

alias +incvoltab "cl_hud_telemetry_frametime_show 2;cl_hud_telemetry_ping_show 2;volume 0.3;+showscores";alias -incvoltab "cl_hud_telemetry_frametime_show 1;cl_hud_telemetry_ping_show 1;volume 0.45;-showscores"; bind tab +incvoltab

bind "mouse4" "voice_modenable_toggle"

alias apply_cyan "cl_crosshaircolor_r 0;cl_crosshaircolor_g 255;cl_crosshaircolor_b 255;bind scancode14 apply_red"
alias apply_red "cl_crosshaircolor_r 213;cl_crosshaircolor_g 11;cl_crosshaircolor_b 30;bind scancode14 apply_purple"
alias apply_purple "cl_crosshaircolor_r 91;cl_crosshaircolor_g 20;cl_crosshaircolor_b 218;bind scancode14 apply_yellow"
alias apply_yellow "cl_crosshaircolor_r 218;cl_crosshaircolor_g 196;cl_crosshaircolor_b 8;bind scancode14 apply_red"
apply_cyan
bind scancode13 apply_cyan
bind scancode14 apply_red

alias buyhegren "slot6; buy hegrenade"
alias zbuyhegren "bind scancode6 buyhegren"
alias drophegren "buy x 26 x"
alias zdrophegren "bind scancode6 drophegren"
alias usehegren "bind scancode6 slot6" 

alias buyfire "slot10; buy molotov; buy incgrenade"
alias zbuyfire "bind scancode27 buyfire"
alias dropfire "buy x 29 x"
alias zdropfire "bind scancode27 dropfire"
alias usefire "bind scancode27 slot10"

alias buysmoke "slot8; buy smokegrenade"
alias zbuysmoke "bind scancode25 buysmoke"
alias dropsmoke "buy x 27 x"
alias zdropsmoke "bind scancode25 dropsmoke"
alias usesmoke "bind scancode25 slot8"

alias buyflash "slot7; buy flashbang"
alias zbuyflash "bind scancode9 buyflash"
alias dropflash "buy x 26 x"
alias zdropflash "bind scancode9 dropflash"
alias useflash "bind scancode9 slot7"

alias buyvest "buy vest"
alias zbuyvest "bind scancode22 buyvest"
alias usevest "bind scancode22 +back"

alias buyhvest "buy vesthelm"
alias zbuyhvest "bind scancode4 buyhvest"
alias usehvest "bind scancode4 +left"

alias buydefk "buy defuser"
alias zbuydefk "bind scancode7 buydefk"
alias usedefk "bind scancode7 +right"

alias buyak "slot1; buy ak47; buy m4a1_silencer"
alias zbuyak "bind scancode30 buyak"
alias dropak "buy x 15 x"
alias zdropak "bind scancode30 dropak"
alias useak "bind scancode30 slot1"

alias buydeagle "slot2; buy deagle"
alias zbuydeagle "bind scancode31 buydeagle"
alias dropdeagle "buy x 6 x"
alias zdropdeagle "bind scancode31 dropdeagle"
alias usedeagle "bind scancode31 slot2"

alias buyptfiddy "slot2; buy p250"
alias zbuyptfiddy "bind scancode32 buyptfiddy"
alias dropptfiddy "buy x 4 x"
alias zdropptfiddy "bind scancode32 dropptfiddy"
alias useptfiddy "bind scancode32 slot3"

alias buytec "slot2; buy fiveseven; buy tec9;"
alias zbuytec "bind scancode33 buytec"
alias droptec "buy x 5 x"
alias zdroptec "bind scancode33 droptec"
alias usetec "bind scancode33 slot4"

alias buygalil "slot1; buy galilar; buy famas"
alias zbuygalil "bind scancode34 buygalil"
alias dropgalil "buy x 14 x"
alias zdropgalil "bind scancode34 dropgalil"
alias usegalil "bind scancode34 slot5"

alias buym4alt "slot1; buy m4a1"
alias zbuym4alt "bind scancode35 buym4alt"
alias dropm4alt "buy x 16 x"
alias zdropm4alt "bind scancode35 dropm4alt"
alias usem4alt "bind scancode35 slot5"

alias buympsev "slot1; buy mp7"
alias zbuympsev "bind scancode21 buympsev"
alias dropmpsev "buy x 9 x"
alias zdropmpsev "bind scancode21 dropmpsev"
alias usempsev "bind scancode21 +reload"

alias "+dropbombbind" "slot3; slot5";
alias "-dropbombbind" "slot3; slot5; drop";
alias buyawp "slot1; buy awp"
alias zbuyawp "bind scancode23 buyawp"
alias dropawp "buy x 18 x"
alias zdropawp "bind scancode23 dropawp"
alias useawp "bind scancode23 +dropbombbind"

alias buyscout "slot1; buy ssg08"
alias zbuyscout "bind scancode28 buyscout"
alias dropscout "buy x 17 x"
alias zdropscout "bind scancode28 dropscout"
alias usescout "bind scancode28 slot1"

alias buysmg1 "slot1; buy mac10; buy mp9"
alias zbuysmg1 "bind scancode20 buysmg1"
alias dropsmg1 "buy x 10 x"
alias zdropsmg1 "bind scancode20 dropsmg1"
alias usesmg1 "bind scancode20 lastinv"

alias buysmg2 "slot1; buy ump45"
alias zbuysmg2 "bind scancode26 buysmg2"
alias dropsmg2 "buy x 11 x"
alias zdropsmg2 "bind scancode26 dropsmg2"
alias usesmg2 "bind scancode26 +forward"

alias buysmg3 "slot1; buy p90"
alias zbuysmg3 "bind scancode8 buysmg3"
alias dropsmg3 "buy x 12 x"
alias zdropsmg3 "bind scancode8 dropsmg3"
alias usesmg3 "bind scancode8 +use"

alias buyzeus "slot1; buy taser 34"
alias zbuyzeus "bind scancode29 buyzeus"
alias usezeus "bind scancode29 slot11"

alias zrefundall "bind scancode100 sellbackall"
alias userefundall "bind scancode100 player_ping"

alias "+teambuys" "zdrophegren; zdropfire; zdropsmoke; zdropflash; zdropak; zdropdeagle; zdropptfiddy; zdroptec; zdropgalil; zdropm4alt; zdropmpsev; zdropawp; zdropscout; zdropsmg1; zdropsmg2; zdropsmg3;"
alias "-teambuys" "usehegren; usefire; usesmoke; useflash; usevest; usehvest; usedefk; useak; usedeagle; useptfiddy; usetec; usegalil; usem4alt; usempsev; useawp; usescout; usesmg1; usesmg2; usesmg3; usezeus; userefundall;"
bind "scancode5" "+teambuys"

alias "+altbinds" "zbuyhegren; zbuyfire; zbuysmoke; zbuyflash; zbuyvest; zbuyhvest; zbuydefk; zbuyak; zbuydeagle; zbuyptfiddy; zbuytec; zbuygalil; zbuym4alt; zbuympsev; zbuyawp; zbuyscout; zbuysmg1; zbuysmg2; zbuysmg3; zbuyzeus; zrefundall;"
alias "-altbinds" "usehegren; usefire; usesmoke; useflash; usevest; usehvest; usedefk; useak; usedeagle; useptfiddy; usetec; usegalil; usem4alt; usempsev; useawp; usescout; usesmg1; usesmg2; usesmg3; usezeus; userefundall;"
bind "alt" "+altbinds"

alias +wjt "alias t_2 +wjt_t"
alias -wjt "alias t_2 -wjt_t"
alias +jt "alias t_2 +jt_t"
alias -jt "alias t_2 -jt_t"
alias +wjt_t "reset_t_2; +forward;+jump;-jump"
alias -wjt_t "reset_t_2; -attack;-forward"
alias +jt_t "reset_t_2; +jump;-jump"
alias -jt_t "reset_t_2; -attack"

#bind scancode23 +jt
#bind scancode28 +wjt

// MENU BACKGROUND
ui_inspect_bkgnd_map_539CD0B9 de_train
ui_mainmenu_bkgnd_movie_539CD0B9 de_train
ui_vanitysetting_loadoutslot_ct rifle1
ui_vanitysetting_loadoutslot_t rifle1
ui_vanitysetting_team t

alias "a_csstats" "map_workshop 3070389038 csstats"
alias "a_treeni" "map_workshop 3615956855 aim_treeni_fps"
alias "a_rush" "map_workshop 3105821815 aim_rush"
alias "a_recoil" "map_workshop 3100869952 recoil_master"
alias "a_hub" "map_workshop 3086023598 5e_aimhub"
alias "a_bots" "map_workshop 3070244462 aim_botz"


alias "s_aquaflow" "map_workshop 3255589335 surf_aquaflow"
alias "s_boreas" "map_workshop 3133346713 surf_boreas"
alias "s_utopia_njv" "map_workshop 3073875025 surf_utopia_njv"
alias "s_whiteout" "map_workshop 3296258256 surf_whiteout"

cl_radar_always_centered 0;
cl_radar_rotate 0;
cl_hud_radar_scale 1.3;
cl_radar_scale 0.6;
cl_radar_icon_scale_min 0.4;

cl_hud_playercount_showcount 1
cl_player_ping_mute 1
cl_crosshair_friendly_warning 0

viewmodel_fov 68;
viewmodel_offset_x 1.5;
viewmodel_offset_y 0;
viewmodel_offset_z -1.5;

r_show_build_info 0


cl_crosshairstyle "4";
cl_crosshaircolor "5";
cl_crosshairsize "1.7";
cl_crosshairgap "-2.5";
cl_crosshairalpha "200";
cl_crosshairusealpha "1";
cl_crosshairthickness "0";
cl_crosshair_drawoutline "1";
cl_crosshair_outlinethickness "0.5";
cl_crosshairdot "0";
cl_crosshair_t "0";
cl_crosshairgap_useweaponvalue "0";
hud_showtargetid "0";

volume 0.75

sensitivity 0.67

echo "autoexec loaded"
